@import '~antd/dist/antd.css';
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .logo{
  width: 100px;
  height: 100px;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mt-2{
  margin-top: 2rem;
}
.mt-1{
  margin-top: 1rem;
}